<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Private page</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h1>Bienvenue dans votre espace personnel</h1>
			<div class="panel-body">
				Votre demande de réservation a bien été prise en compte et peut être consultée directement dans votre espace personnel. Vous reçevrez un e-mail une fois le livre suivant disponible :
				<span th:utext="${book.book_name}"></span>			
			</div>
		</div>
	</div>
</body>
</html>